   /* reset */
   body {
    margin: 0px 0px;
}


/* header */
.title {
    background-color: #212121;
    color: #fafafa;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #01579b;
    color: #fafafa;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

nav div {
    text-align: center;
    border: black 1px solid;
}

/*total*/
#total-container {
    background-color: #01579b;
    color: #fafafa;
    text-align: center;
    padding: 10px;
    bottom: 0px;
}

.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#total-container span {
    font-size: x-large;
    font-weight: bold;

}

#reset {
    padding: 1px;
    background-color: #424242;
    color: #fafafa;
    text-align: center;
}

/* footer */
footer {
    background-color: #212121;
    color: #fafafa;
    text-align: center;
    padding: 15px;

}


/* media query */
@media(min-width: 450px) {
    nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        justify-content: space-around;
    }

    nav div {
        flex-basis: 50%;
    }
}
