#products {
    background-color: #ffebee;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    margin: 3px;
}

.add {
    background-color: #e0e0e0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.add button {
    border: #bdbdbd 1px solid;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
}

.counter {
    margin: 0px 0px;
    text-align: center;
    border: #bdbdbd 1px solid;
    border-radius: 10px;
    width: 40%;
    margin: auto auto;
    font-size: 28px;
}

img {
    width: 150px;
}

.price {
    background-color: rgba(158, 158, 158, 0.7);
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin: 0px;
    text-align: center;
    position: relative;
    top: -12%;
}
